.__keygate fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.__keygate button {
  cursor: pointer;
}

.__keygate__form {
  width: 23rem;
}

.__keygate__seperator {
  text-align: center;
  position: relative;
}

.__keygate__seperator > *:not(.__keygate__seperator_bar) {
  padding: 0 1rem;
  z-index: 1;
  flex: 1,
}

.__keygate__seperator_bar {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: var(--gray-6);
  vertical-align: middle;
}